@charset "UTF-8";
/* CSS Document */

body{ 
	margin: 0; 
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}


.container {
	
}


h5 {
    font-weight: 300;
}

hr {
    margin-bottom: 10px;
    margin-top: 0px;
	border-color: #999 -moz-use-text-color -moz-use-text-color;
}

html,body{
    height: 100%
}

footer {
    bottom: 0;
    width: 100%;
}


h3.top-header {
	color: #999999;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: -18px;
}


li.instructions {
	padding-bottom: 30px;
}


.download {
	font-weight: 700;
}

.row.documentation {
	padding-bottom: 10px;
}

h5 {
    margin-top: 0;
}

.docItem {
	padding-bottom: 20px;
}

.docItem img {
	vertical-align:middle;
	margin-right: 6px;
}

.sectionContent li {
	float:left;
	padding-right: 12px;
	margin-left:-30px;
	padding-bottom: 14px;
	clear:both;
}

.section ul {
	list-style-type: none;
	margin-left: 0px;
}


.sectionContent.grid li {
	float:left;
	padding-right: 12px;
	padding-bottom: 14px;
	clear: none;
}

.title {
	padding-bottom: 10px;
}

.examples dd {
	color: #999;
	margin-bottom: 14px;
	margin-left: 100px;
	padding-left: 0;
}

.examples h4 {
	font-weight: 300;
}

.exampleLinks {
	border-bottom: solid 1px #acacac;
	margin-bottom: 20px;
}

.exampleLinks.last {
	border-bottom: none;
	margin-bottom: none;
}

.linksContainer {
	margin-top: -20px;
}

h3, .h3 {
    font-size: 24px;
}
h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.dl-horizontal dt {
    
}

dt {
    font-weight: bold;
}
dt, dd {
    line-height: 1.42857;
}

.example img  {
    float: left;
    padding-right: 20px;
	 border: none;
    box-shadow: none;
    margin: 0;
}

.exmapleblock {
	clear:both;
	padding-bottom: 20px;
}



